<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../style.css">
        <link rel="icon" href="../../Harold.ico" type="image/x-icon">
        <title>template</title>
    </head>
    <body>
        <a href="../../index.html"><h1 class="Page-Title">Schlibistious</h1></a>
        <div class="section">
            <h1>Title</h1>
            <p>text blah blah blah</p>
            <img src="../../img/placeholder.webp" alt="placeholder">
            <p>more text</p>
        </div>
    </body>
</html>